/.venv
/build
/dist
/opsiclientd-dev-data

*~
*.pyc
*.pyo
.settings
.project
.pydevproject
*.egg-info
*.mo
.coverage
coverage.xml

# Created during build
opsiclientd.tar.gz
src/build/*
*.sublime-*
.idea

# Folders used during building
src/build/
src/dist/
src/OPSI/
