Source: opsiclientd
Maintainer: uib GmbH <info@uib.de>
Homepage: http://www.opsi.org/
Section: opsi
Priority: optional
Standards-Version: 3.9.3
Build-Depends: python3, debhelper (>= 9), gettext

Package: opsiclientd
Architecture: all
Depends: ${misc:Depends}
Description: opsi client daemon (opsiclientd)
 opsiclientd is part of the desktop management solution opsi

