[Unit]
Description=Opsi Linux Client Agent
After=remote-fs.target
After=local-fs.target
After=network-online.target
Requires=remote-fs.target
Requires=local-fs.target
Wants=network-online.target

[Service]
# TODO: look at opsiclientds installation because mkdir could be
# in different places
ExecStartPre=-/usr/bin/mkdir -p /var/run/opsiclientd
ExecStartPre=-/usr/bin/mkdir -p /var/log/opsi-client-agent
ExecStart=/usr/bin/opsiclientd
RestartSec=10
KillMode=process
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
