[Unit]
Description=opsi linux client agent
After=remote-fs.target
After=local-fs.target
After=network-online.target
Requires=remote-fs.target
Requires=local-fs.target
Wants=network-online.target

[Service]
ExecStartPre=-mkdir -p /var/run/opsiclientd
ExecStartPre=-mkdir -p /var/log/opsi-client-agent
ExecStart=/usr/bin/opsiclientd
RestartSec=10
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
